:root {
    /* Light mode colors based on the OMI Style Guide */
    --primary-blue: #13294b;
    --dark-yellow: #ffd125;
    --salmon: #ee5e5e;
    --gray-blue: #6fafc7;
    --teal: #0d605e;
    --neutral: #E8E9EA;

    /* Dark mode colors based on the OMI Style Guide */
    --primary-blue-dark: #ffffff;
    --dark-yellow-dark: #ffd125;
    --salmon-dark: #ee5e5e;
    --gray-blue-dark: #6fafc7;
    --teal-dark: #0d605e;
    --neutral-dark: #1c1c1c;
}

body {
    background-color: var(--neutral);
    color: var(--primary-blue);
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: var(--neutral-dark);
    color: var(--primary-blue-dark);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-blue);
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 32px;
    margin-top: 0;
}

h2 {
    font-size: 26px;
    margin-top: 0;
}

button {
    background-color: var(--dark-yellow);
    border: none;
    border-radius: 4px;
    color: var(--primary-blue);
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
    background-color: var(--primary-blue);
    color: var(--neutral);
}

button.dark-mode {
    background-color: var(--dark-yellow-dark);
    color: var(--primary-blue-dark);
}

button.dark-mode:hover {
    background-color: var(--primary-blue-dark);
    color: var(--neutral-dark);
}